.menu-brover_header{
    color: #007bff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background: azure;
}

.close-brower{
    display: flex;
    justify-content: flex-end;
}
.img-2{
    height: 20px;
    display: flex;

} 

body {
  background-color: azure;
  background-image: url('https://avatars.mds.yandex.net/i?id=0ff4756896cdd90d95097cc8e34730f79d0e14f5-5242896-images-thumbs&n=13');
  background-size: 2500px;
  background-repeat: no-repeat;
  background-position: center;
}
